@import '../assets/css/app.min.css';
@import '../assets/css/bootstrap.min.css';
@import '../assets/css/custom.min.css';
@import '../assets/libs/gridjs/theme/mermaid.min.css';
.cursor-pointer {
    cursor: pointer;
}

.btn-ghost-primary-2 {
    background-color: rgba(255, 255, 255, 0.07);
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
    flex-grow: 1;
}

.rounded-4 {
    border-radius: 10px;
}

.btn {
    padding: 0.5rem !important;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}